# Ignore Python temporary files generated during execution
__pycache__/
*.pyc

# Ignore IDE and Editor specific configuration files
.vscode/
.idea/

# Ignore virtual environment directories
venv/
env/

# Ignore Jupyter Notebook files for exploratory data analysis
EDA.ipynb
